---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Welcome to My Blog – Tech, Cybersecurity & More</h1>
			<p>
				Hey there! I'm Sahil Shaikh, a cybersecurity enthusiast with a passion for 
				cloud computing, ethical hacking, and data science. Through this blog, I 
				share my experiences, research, and tips on navigating the world of cybersecurity
				and tech. Whether you're an aspiring security professional or just curious about
				how things work, you'll find something valuable here!"
			</p>
			<p>
				I hold multiple industry-recognized certifications, including nine GIAC 
				certifications (such as GCIA). These credentials reflect my expertise in 
				intrusion analysis, cloud security, and advanced cybersecurity techniques. 
				My continuous learning mindset drives me to stay updated with emerging 
				threats and best practices, ensuring that I can share the latest insights 
				and hands-on experiences with my readers.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
