---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🥷 Welcome to My Blog – Cybersecurity & More</h2>
			<p>
				Hey there! I'm Sahil Shaikh, a cybersecurity enthusiast with a passion for 
				cloud computing, ethical hacking, and data science. Through this blog, I 
				share my experiences, research, and tips on navigating the world of cybersecurity
				and tech. Whether you're an aspiring security professional or just curious about
				how things work, you'll find something valuable here!"
			</p>
			<p>
				I hold multiple industry-recognized certifications, including nine GIAC 
				certifications (such as GCIA). These credentials reflect my expertise in 
				intrusion analysis, cloud security, and advanced cybersecurity techniques. 
				My continuous learning mindset drives me to stay updated with emerging 
				threats and best practices, ensuring that I can share the latest insights 
				and hands-on experiences with my readers.
			</p>
			<p>
				As part of my research and hands-on cybersecurity work, I’ve set up a 
				honeypot to capture real-world attack patterns and malicious activity.
				This blog will feature detailed threat reports based on the data collected,
				analyzing attack vectors, tactics used by threat actors, and mitigation 
				strategies. Whether you're a cybersecurity professional or just curious 
				about cyber threats in the wild, these reports will provide valuable 
				insights into the latest attack trends and defensive measures
			</p>
			
		</main>
		<Footer />
	</body>
</html>
