<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Footer</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script>
    const today = new Date();
  </script>

  <footer class="footer">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sahil-shaikh-cs" target="_blank">LinkedIn</a>
      <a href="https://github.com/EL3CTRO-9" target="_blank">GitHub</a>
    </div>
    <p>&copy; <script>document.write(today.getFullYear());</script> Sahil Shaikh. All rights reserved.</p>
  </footer>
</body>
</html>


